{% extends "dynamic.html" %}
{% block body %}
  <h2>Sign Up</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form id=signup action="{{ url_for('signup') }}" method=post>
    <dl>
      <dt>Email:
      <dd><input required type=email size=30 name=email placeholder="Enter your email address" value="{{ request.form.email }}">
      <dt>Password:
      <dd><input required type=password name=password size=30>
      <dt>Password <small>(repeat)</small>:
      <dd><input required type=password name=password2 size=30>
    </dl>
    <div class=actions>
      <input type=submit value="Sign up">
    </div>
  </form>
{% endblock body %}
